*{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
}

.alogo {
  
  /*position: absolute;
  left: 36.67%;
  right: 37.43%;
  top: 0%;
  bottom: 0%;*/
}

h2 {
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 120%;
/* or 29px */

/* text-align: center; */

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.text-input {
  /*position: absolute;*/
  width: 680px;
  height: 150px;
  left: 240px;
  top: 168px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
  /* or 48px */
    
  color: #0A3871;
}

#mensagemE {
  /*position: static;
  width: 228px;
  height: 18px;
  left: 24px;
  top: 0px;*/

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */


  /* Gray/gray-400 */

  color: #495057;

  opacity: 0.8;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

.btn {
    /*position: static;*/
    width: 328px;
    height: 67px;
}

#btn-cripto {
  /* Button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;



  /* Dark blue/dark-blue-300 */

  background: #0A3871;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  margin: 0px 8px;

  /* font */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  /* White */

  color: #FFFFFF;

}

#btn-descripto {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  /* Dark blue/dark-blue-300 */
  
  color: #0A3871;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;

  /* Light gray */

  background: #D8DFE8;
  /* Dark blue/dark-blue-300 */

  border: 1px solid #0A3871;
  box-sizing: border-box;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

#btn-copy{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  /* Dark blue/dark-blue-300 */
  
  color: #0A3871;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;

  /* Light gray */

  background: #D8DFE8;
  /* Dark blue/dark-blue-300 */

  border: 1px solid #0A3871;
  box-sizing: border-box;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 686px;
}

@media screen and (max-width:600px) {
  .botoes {
    flex-direction: column;

  
  }
  .btn {
    margin-bottom: 0.8rem !important;
  }
}